## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio / Rider
.vs/
.idea/
*.user
*.userosscache
*.suo
*.sln.docstates

## .NET
project.lock.json
project.fragment.lock.json
artifacts/
*.nupkg
*.snupkg

## User secrets & local config
**/appsettings.Development.json
secrets.json

## OS
.DS_Store
Thumbs.db

## Environment
.env
.env.*

## Test results
TestResults/
coverage/
*.coverage
*.coveragexml

## EF Core
*.db
*.db-shm
*.db-wal
